---
import { Icon } from "astro-icon/components";
import ModalOpener from "./ModalOpener.astro";
import CloseModal from "./buttons/CloseModal.astro";

interface Props {
  id: string;
  class?: string;
  style?: string;
  open?: boolean;
  title?: string;
  backHref?: string;
}

const { id, class: className, style, open, title, backHref } = Astro.props;
---

<dialog id={id} class={className} style={style}>
  <ModalOpener menuId={id} open={open || false} />
  <form class="modal_close" method="dialog">
    <span>{title}</span>
    <CloseModal backHref={backHref} />
  </form>
  <div class="modal_content">
    <slot />
  </div>
</dialog>

<style>
  .modal_close {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;

    margin-bottom: 1rem;
  }
</style>
