---
import SlideOutModal from "@components/common/modals/SlideOutModal.astro";
import { getCartItems, getCartSubtotal } from "@data/cart";
import CartItem from "./CartItem.astro";
import { Icon } from "astro-icon/components";
import CreateAndSendInvoice from "./forms/CreateAndSendInvoice.astro";

const cartItems = await getCartItems(Astro);

const subtotalByCurrency = await getCartSubtotal(Astro);

const itemsCount = cartItems?.length || 0;
---

<SlideOutModal id="cart" title="Productos en el carro">
  <section class="cart_modal__content">
    {
      cartItems && cartItems.length > 0 ? (
        <ul>
          {cartItems.map((carItem) => (
            <CartItem cartItem={carItem} />
          ))}
        </ul>
      ) : (
        <div class="cart_modal__noItems">
          <Icon name="mdi:cart-off" size={100} />
          <p>No posees productos en el carro de compras.</p>
        </div>
      )
    }
  </section>
  <section class="cart_modal__actions">
    <div class="cart_resume">
      <span>Subtotal ({itemsCount} productos)</span>
      <div class="cart_resume__subtotal">
        <span>{subtotalByCurrency.USD}</span>
        <span>{subtotalByCurrency.EUR}</span>
        <span>{subtotalByCurrency.CUP}</span>
      </div>
    </div>
    {cartItems && cartItems.length > 0 && <CreateAndSendInvoice />}
  </section>
</SlideOutModal>

<style>
  .cart_modal__content {
    height: 70vh;

    padding-right: 1rem;

    overflow-y: auto;

    -ms-overflow-style: thin; /* IE and Edge */
    scrollbar-width: thin; /* Firefox */
  }

  .cart_modal__noItems {
    min-height: 80vh;

    padding: 2rem;

    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    justify-content: center;

    text-align: center;
  }

  .cart_modal__actions {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .cart_resume {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  .cart_resume__subtotal {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    font-size: large;
    font-weight: 600;
  }
</style>
