---
import { actions, isInputError } from "astro:actions";
import type { Market } from "@prisma/client";
import { Icon } from "astro-icon/components";

interface Props {
  market?: Market;
}

const { market } = Astro.props;

const isCreating = market === undefined;

const contact = market?.contact;

const action = isCreating
  ? actions.markets.createMarket
  : actions.markets.updateMarket;

const result = Astro.getActionResult(action);
const inputErrors = isInputError(result?.error) ? result.error.fields : {};
---

<form
  id="generic_form__market"
  class="generic_form__market"
  method="POST"
  action={action}
  enctype="multipart/form-data"
>
  <input type="text" name="marketId" value={market?.id} hidden />
  <section>
    <h4>Información general</h4>
    <label>
      Nombre
      <input
        class="primary_text__input"
        required
        type="text"
        name="name"
        maxlength={30}
        value={market?.name}
        aria-describedby="error_name"
      />
    </label>
    {
      inputErrors.name && (
        <p id="error_name" class="error">
          {inputErrors.name.join(",")}
        </p>
      )
    }
    <label>
      Descripción
      <textarea
        class="primary_text__input"
        name="description"
        maxlength={250}
        aria-describedby="error_description"
      >
        {market?.description}
      </textarea>
    </label>
    {
      inputErrors.description && (
        <p id="error_description" class="error">
          {inputErrors.description.join(",")}
        </p>
      )
    }
    <label>
      Imagen de presentación
      <input
        class="primary_text__input"
        type="file"
        name="image"
        accept="image/*"
        aria-describedby="error_image"
      />
    </label>
    {
      inputErrors.image && (
        <p id="error_image" class="error">
          {inputErrors.image.join(",")}
        </p>
      )
    }
  </section>
  <section>
    <h4>Contacto</h4>
    <label>
      Dirección
      <input
        class="primary_text__input"
        type="text"
        name="address"
        maxlength={100}
        value={contact?.address}
        aria-describedby="error_address"
      />
    </label>
    {
      inputErrors.address && (
        <p id="error_address" class="error">
          {inputErrors.address.join(",")}
        </p>
      )
    }
    <label>
      Teléfono móvil
      <input
        class="primary_text__input"
        type="tel"
        name="phone1"
        maxlength={20}
        value={contact?.phone1}
        required
        aria-describedby="error_phone1"
      />
    </label>
    {
      inputErrors.phone1 && (
        <p id="error_phone1" class="error">
          {inputErrors.phone1.join(",")}
        </p>
      )
    }
    <label>
      Teléfono 2
      <input
        class="primary_text__input"
        type="tel"
        name="phone2"
        maxlength={20}
        value={contact?.phone2}
        aria-describedby="error_phone2"
      />
    </label>
    {
      inputErrors.phone2 && (
        <p id="error_phone2" class="error">
          {inputErrors.phone2.join(",")}
        </p>
      )
    }
  </section>
  <button class:list={["primary_button", "centered_button"]} type="submit">
    <span>Publicar mercado</span>
    <Icon name="mdi:publish" size={20} />
  </button>
</form>

<style>
  .generic_form__market {
    display: grid;
    grid-template-rows: 1fr 0.8fr;
    gap: 2rem;
  }

  .generic_form__market > section {
    display: grid;
    grid-template-rows: 0.3fr 1fr 1fr 1fr;
    gap: 1rem;
  }

  .generic_form__market label {
    display: flex;
    flex-direction: column;
  }

  .generic_form__market input,
  .generic_form__market textarea {
    width: 100%;
  }

  .generic_form__market textarea {
    resize: none;
  }

  .generic_form__market button {
    margin: 0 auto;

    padding: 0.5rem;

    gap: 0.5rem;

    font-size: large;
    font-style: normal;
  }
</style>
