---
import { type Product } from "@prisma/client";
import LinkCard from "../../LinkCard.astro";
import { Routes } from "@utils/routes";
import ProductImage from "./ProductImage.astro";
import AddProductToCart from "../cart/forms/AddProductToCart.astro";

interface Props {
  product: Product;
}

const { product } = Astro.props;

const defaultImage = product.imageUrls[0] || null;
---

<li class="product_card">
  <LinkCard class="product_card__content" href={Routes.products(product.id)}>
    <ProductImage url={defaultImage} />
    <div class="product_card__info">
      <span>{product.name}</span>
      <span class="product_card__priceInfo"
        >{product.price} {product.currency}
      </span>
    </div>
  </LinkCard>
</li>

<style>
  .product_card {
    list-style: none;
    margin-bottom: 1rem;
  }

  .product_card__content {
    display: flex;
    gap: 1rem;
  }

  .product_card__info {
    display: flex;
    flex-direction: column;
  }

  .product_card__priceInfo {
    font-size: large;
    font-weight: 600;
  }

  .product_card__add {
    margin-left: auto;

    display: flex;
    align-items: flex-end;
  }
</style>
